[submodule "extern/FreeRTOS-Cpp"]
	path = extern/FreeRTOS-Cpp
	url = https://github.com/lukasnee/FreeRTOS-Cpp.git
[submodule "extern/littlefs"]
	path = extern/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "extern/lua"]
	path = extern/lua
	url = https://github.com/lukasnee/lua.git
