fail_fast: false
repos:
- hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
- hooks:
  - id: commitizen
  - id: commitizen-branch
    stages:
    - pre-push
  repo: https://github.com/commitizen-tools/commitizen
  rev: v4.10.1
- repo: https://github.com/pocc/pre-commit-hooks
  rev: master
  hooks:
    - id: clang-format
    - id: clang-tidy
    # - id: cppcheck # TODO
    # - id: cpplint # TODO
    # - id: include-what-you-use
